*{margin: 0; padding: 0; box-sizing: border-box;}

header{
    background-image: url(images/Bg.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main{
    max-width: 1100px;
    height: 20%;
    margin: auto;
}

ul{
    list-style-type: none;
    float: right;
    margin-top: 25px;
}
ul li{
    display: inline-block;
}
 ul li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 0px 10px;
    font-size: 1.2rem;
    border-radius: 10px;
 }

 ul li a:hover{
     background-color: white;
     color: black;
     transition: 0.5s linear all;
 }

 .active{
     background-color: white;
     color: black;
 }
 .logo img{
     height: 100px;
     width: 100px;
 }

 .center_text{
     height: 77%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .center_text h1{
     color: white;
     text-shadow: 1px 1px 0.5px black;
     font-size: 3rem;
     margin-bottom: 20px;
     letter-spacing: 0.5rem;
 }

 #btn1 , #btn2{
     color: blanchedalmond;
     text-decoration: none;
     font-size: 1.2rem;
     border-radius: 5px;
     padding: 7px;
 }
 #btn1:hover{
     background-color: seagreen;
     transition: 0.5s linear all;
     color: rgb(255, 0, 0);
 }
 #btn2:hover{
     background-color: rgb(236, 46, 46);
     transition: 0.5s linear all;
     color: rgb(7, 245, 7);
 }

 footer{
     height: 2%;
     line-height: 10px;
     display: flex;
     align-items: center;
     justify-content: center;
     color: whitesmoke;
 }

 /* -----MEDIA QUERIES----- */

/* big tablet, landscape, desktop */
@media (min-width: 1200px){

}

/* tablet, landscape, low resolution desktop */
@media (max-width: 990px){
   

}

/* portrait tablet, e-readers, kindle */
@media (max-width: 800px){

}

/* big Smartphone, landscape iphone */
@media (max-width: 600px){

}

/* Small smartphones, iphone, 480x320 devices */
@media (max-width: 480px){

}
